.info-container{
    background-color: green;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}
.info-school-name{
    font-weight: normal;
    /* font-size: 15px; */
    color: white;
}
.info-school-entrance{
    font-weight: bold;
    font-size: 20px;
    color: white;
}
.info-school-card-status-text{
    font-weight: normal;
    font-size: 13px;
    color: white;
}