#head{
    background-color: #F0955B;
    color: #F3E9E2;
    padding-top: 15px;
}
#basic-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#stu-info{
    display: flex;
    flex-direction: row;
}
#p-info{
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#school-name{
    font-weight: bolder;
    font-size: 15px;
    margin-bottom: 3px;
}
#name{
    font-size: 12px;
}
#school-badge{
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
}
#balance{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}
#balance-value{
    font-size: 16px;
    text-align: right;
    font-weight: bolder;
    margin-bottom: 3px;
}
#balance-text{
    text-align: right;
    font-size: 12px;
}
#quick-access{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}
#quick-access-text{
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
}
#quick-access-icon{
    height: 34px;
    width: 34px;
}
#notices{
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.notice-icon{
    height: 18px;
    margin-right: 10px;
    /* width: 10px; */
}
.notice-message{
    display: flex;
    flex-direction: row;
    /* text-align: center; */
}
.notice-time{
    color: gainsboro;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    justify-content: center;
}
#more{
    color: gainsboro;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    justify-content: center;
}